<section id="beneficios">

    <div class="row">
      <div class="col-12 col-md-4 padding">
        <h2> Beneficios </h2>
      </div>

      <div class="col-12 col-md-4 padding">
        <div class="row">
          <h4 class="col col-3 col-md-3 num">
            01
          </h4>
          <div class="col col-9 col-md-9">
            <p class="small">Recuperación de la confianza en la gestión pública a nivel local </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 padding">
        <div class="row">
          <h4 class="col col-3 col-md-3 num">
            02
          </h4>
          <div class="col col-9 col-md-9">
            <p class="small">Mayor entendimiento de las preocupaciones de los habitantes de la comuna</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-md-4 padding">
        <div class="row">
          <h4 class="col col-3 col-md-3 num">
            03
          </h4>
          <div class="col col-9 col-md-9">
            <p class="small">Acortar las distancias que hoy existen entre autoridades, clase política y la ciudadanía</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 padding">
        <div class="row">
          <h4 class="col col-3 col-md-3 num">
            04
          </h4>
          <div class="col col-9 col-md-9">
            <p class="small">Optimización de procesos, resultados coherences con necesidades</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 padding">
        <div class="row">
          <h4 class="col col-3 col-md-3 num">
            05
          </h4>
          <div class="col col-9 col-md-9">
            <p class="small">Aprobación vecinal y posibilidad de continuidad</p>
          </div>
        </div>
      </div>

    </div>


</section>
