<section id="beneficios">
  <h2 class="text-center"> Beneficios </h2>
  <div class="container-fluid">
    <div class="padding padding-sides">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="benefits-icon">
            {% include ben01.html %}
          </div>
          <div class="row">
            <h4 class="col col-3 col-md-3 num orange text-right">
              01
            </h4>
            <div class="col col-9 col-md-9">
              <p class="small">Recuperación de la confianza en la gestión pública a nivel local </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="benefits-icon">
            {% include ben02.html %}
          </div>
          <div class="row">
            <h4 class="col col-3 col-md-3 num orange text-right">
              02
            </h4>
            <div class="col col-9 col-md-9">
              <p class="small">Mejor comprensión de las necesidades de las y los habitantes del municipio</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="benefits-icon">
            {% include ben03.html %}
          </div>
          <div class="row">
            <h4 class="col col-3 col-md-3 num orange text-right">
              03
            </h4>
            <div class="col col-9 col-md-9">
              <p class="small">Acortar las distancias que hoy existen entre autoridades y la ciudadanía</p>
            </div>
          </div>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <div class="benefits-icon">
            {% include ben04.html %}
          </div>
          <div class="row">
            <h4 class="col col-3 col-md-3 num orange text-right">
              04
            </h4>
            <div class="col col-9 col-md-9">
              <p class="small">Optimización de procesos, resultados coherentes con necesidades ciudadanas</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="benefits-icon">
            {% include ben05.html %}
          </div>
          <div class="row">
            <h4 class="col col-3 col-md-3 num orange text-right">
              05
            </h4>
            <div class="col col-9 col-md-9">
              <p class="small">Aprobación vecinal y posibilidad de continuidad</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
