<footer class="bg-gray-one">

  <div class="row padding">
    <div class="col-sm-4">
      <a target="_blank" href="https://ciudadanointeligente.org">
        <img src="{{ site.baseurl }}/assets/img/logo_FCI.png" class="logo-FCI" alt="Abre home">
      </a>
    </div>

    <div class="col-sm-8 text-right">
      <a target="_blank" href="https://github.com/ciudadanointeligente/"> <i class="fa padding-sides white fa-github" aria-hidden="true"></i> </a>
      <a target="_blank" href="https://www.facebook.com/ciudadanointeligente"> <i class="fa white fa-facebook" aria-hidden="true"></i> </a>
      <a target="_blank" href="https://twitter.com/ciudadanoi"> <i class="fa padding-sides white fa-twitter" aria-hidden="true"></i> </a>
    </div>

  </div>


</footer>
