<footer class="bg-blue">

  <div class="row padding">
    <div class="col-sm-4">
      <a href="https://ciudadanointeligente.org">
        <img src="{{ site.baseurl }}/assets/img/logo_FCI.png" class="logo-FCI" alt="Abre home">
      </a>
    </div>

    <div class="col-sm-8 text-right">
      <a href=""> <i class="fa padding-sides white fa-github" aria-hidden="true"></i> </a>
      <a href=""> <i class="fa white fa-facebook" aria-hidden="true"></i> </a>
      <a href=""> <i class="fa padding-sides white fa-twitter" aria-hidden="true"></i> </a>
    </div>

  </div>


</footer>
