<!-- <header class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right py-2" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
           <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
              <path d="M2.5 2.5h19.026M2.5 11.5h19.026M2.5 20.5h19.026" fill="none" fill-rule="evenodd" stroke="#2D4059" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <a class="navbar-brand" href="#">
          </a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>de Ciudadano Inteligente</li>
          </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#beneficios">Beneficios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonios">Testimonios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Sobre abre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
        </div>
  </nav>

</header> -->

<header class="cd-auto-hide-header">
	<div class="logo"><a href="#0">{% include logoabre.html %}<span>de Ciudadano Inteligente</span></a></div>

	<nav class="cd-primary-nav">
		<a href="#cd-navigation" class="nav-trigger">
			<span>
				<!-- <em aria-hidden="true"></em> -->
				<i class="fa fa-bars" aria-hidden="true"></i>
			</span>
		</a> <!-- .nav-trigger -->

		<ul id="cd-navigation">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#beneficios">Beneficios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonios">Testimonios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">Sobre abre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto">Contacto</a>
      </li>
		</ul>
	</nav> <!-- .cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="{{ site.baseurl }}js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="{{ site.baseurl }}js/nav.js"></script> <!-- Resource jQuery -->
