
<section id="stages">  
  <h2 class="text-center">Etapas</h2>
  <h5 class="text-center bajada text-width">La metodología Abre esta compuesta por 4 grandes etapas de colaboración entre vecinos y el municipio</h5>
  <div class="row no-gutter">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="box bg-orange text-center">
        <div class="box-text">
          <div class="box-svg">
            {% include proposal-img.html %}
          </div>
          <h4 class="text-white text-right">01. PROPUESTAS</h4>
          <p class="text-white text-right">Los vecinos crean y apoyan propuestas que responden a un desafío planteado por el municipio.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="box text-center text-right bg-light-gray">
        <div class="box-text">
          <div class="box-svg">
            {% include design-img.html %}
          </div>
          <h4 class="text-right">02. Diseño</h4>
          <p class="text-right">Luego de elegir una propuesta, vecinos y funcionarios participan en talleres para elaborar el proyecto definitivo.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="box text-center bg-blue text-right">
        <div class="box-text">
          <div class="box-svg">
            {% include implementation-img.html %}
          </div>
          <h4 class="text-white text-right">03. IMPLEMENTACIÓN</h4>
          <p class="text-white text-right">Al momento de ejecutar, los vecinos colaboran y dan seguimiento a la implementación del proyecto.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="box text-center text-right bg-light-gray">
        <div class="box-text">
          <div class="box-svg">
            {% include evaluation-img.html %}
          </div>
          <h4 class="text-right">04. EVALUACIÓN</h4>
          <p class="text-right">Todos los involucrados participan evaluando qué se debe mantener, mejorar y probar en el proceso.</p>
        </div>
      </div>

    </div>
  </div>
</section>
