<section id="testimonios">

    <h2 class="text-center">Testimonios </h2>

  <div class="row">

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center testimonial-img">
        <img class="img-responsive img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/juanbalboa.jpg" alt="Juan Balboa" >
      </div>
      <p class="text-center padding-sides"> Estamos muy agradecidos de esta experiencia. Nos acercamos al municipio, sentimos que nos apoya y toma en cuenta. </p>
      <h2 class="green text-center underscore">_</h2>
      <div class="small text-center"> Juan Balboa </div>
      <p class="text-center detail"> Vecino Peñalolen </p>
    </div>

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center testimonial-img">
        <img class="img-responsive img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/leitao.png" alt="Sui-Gin Acevedo" >
      </div>
      <p class="text-center padding-sides"> Estamos muy contentos con el proyecto Abre Peñalolén, ya que va justo en nuestra línea de gestión de fortalecer la participación e integración de nuestros vecinos en las decisiones que tomamos para hacer de Peñalolén una mejor comuna para vivir. </p>
      <h2 class="green text-center underscore">_</h2>
      <div class="small text-center"> Carolina Leitao </div>
      <p class="text-center detail"> Alcaldesa Peñalolen </p>

    </div>

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center testimonial-img">
        <img class="img-responsive img-fluid rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/manuel.jpg" alt="Manuel Barros" >
      </div>
      <p class="text-center padding-sides"> Hace mucho tiempo nos planteamos el desafío de facilitar la apertura a nivel local y nos dimos cuenta de que las comunidades necesitan espacios para involucrarse y ser parte de la toma de decisiones.</p>
      <h2 class="green text-center underscore">_</h2>
      <div class="small text-center"> Manuel Barros </div>
      <p class="text-center detail"> Ciudadano Inteligente </p>
    </div>


  </div>
</section>
