<section class="padding" id="testimonios">

    <h2 class="text-center">Testimonios </h2>

  <div class="row">

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center">
        <img class="img-responsive img-fluid padding rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/juanbalboa.jpg" alt="Juan Balboa" >
      </div>
      <p class="text-center padding-sides"> Estamos muy agradecidos de esta experiencia. Nos acercamos al municipio, sentimos que nos apoya y toma en cuenta. </p>
      <p class="small text-center"> Juan Balboa </p>
      <p class="text-center detail"> Vecino Peñalolen </p>
    </div>

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center">
        <img class="img-responsive img-fluid padding rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/suigin.jpg" alt="Sui-Gin Acevedo" >
      </div>
      <p class="text-center padding-sides"> Con esta experiencia invitamos a los vecinos a involucrarse en el diseño de políticas públicas, lo cual tiene un gran valor para el municipio. </p>
      <p class="small text-center"> Sui-Gin Acevedo </p>
      <p class="text-center detail"> Funcionaria municipal, Peñalolen </p>

    </div>

    <div class="col-12 col-md-4 padding-sides">
      <div class="text-center">
        <img class="img-responsive img-fluid padding rounded-circle" src="{{ site.baseurl }}/assets/img/testimonials/manuel.jpg" alt="Manuel Barros" >
      </div>
      <p class="text-center padding-sides"> Estamos muy agradecidos de esta experiencia. Nos acercamos al municipio, sentimos que nos apoya y toma en cuenta. </p>
      <p class="small text-center"> Manuel Barros </p>
      <p class="text-center detail"> Ciudadano Inteligente </p>

    </div>


  </div>
</section>
