<section class="padding" id="testimonios">

    <h2 class="text-center">Testimonios </h2>

  <div class="row">

    <div class="col-12 col-md-4 padding">
      <p class="text-center padding-sides"> Tiene valor, importancia y beneficios involucrarse en la gestión municipal </p>
      <p class="small text-center"> ??? </p>
      <p class="text-center detail"> Vecino Peñalolen </p>
    </div>

    <div class="col-12 col-md-4 padding">
      <p class="text-center padding-sides"> El vecino es el mejor experto en soluciones para sus espacios </p>
      <p class="small text-center"> Andrés Ramos </p>
      <p class="text-center detail"> Funcionario municipal, Peñalolen </p>

    </div>

    <div class="col-12 col-md-4 padding">
      <p class="text-center padding-sides"> Tiene valor, importancia y beneficios involucrarse en la gestión municipal </p>
      <p class="small text-center"> ??? </p>
      <p class="text-center detail"> Ciudadano Inteligente </p>

    </div>


  </div>
</section>
