  <div class="row no-gutters justify-content-between">
    <div class="col-6 what-box">
      <p class="small green"><i class="fa fa-minus" aria-hidden="true"></i> ¿qué es abre?</p>
      <h2>Metodologías de colaboración</h2>
      <h5>Para talleres de diseño e implementación de políticas públicas en conjunto con los vecinos y vecinas.</h5>
      <p>Abre es una metodología de Ciudadano Inteligente que busca involucrar a los vecinos en los proyectos y políticas municipales, permitiendo una participación y colaboración más eficiente, con mejores resultados para la comunidad y un mejor uso de recursos de parte del municipio.</p>
    </div>
    <div class="col-6">
      <img src="{{ site.baseurl }}assets/img/about01.png" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row no-gutters justify-content-between">
    <div class="col-6">
      <img src="{{ site.baseurl }}assets/img/about02.png" alt="" class="img-fluid">
    </div>
    <div class="col-6 what-box">
      <p class="small green"><i class="fa fa-minus" aria-hidden="true"></i> ¿qué es abre?</p>
      <h2>Sitio Web</h2>
      <h5>Para que vecinos y vecinas propongan ideas, apoyen sus favoritas, hagan seguimiento a la implementación y evalúen el proceso.</h5>
      <p>Todo el proceso es apoyado por una plataforma web que permite centralizar la información, comunicaciones, convocatorias, levantamiento de propuestas y sistematización del proceso. De esta forma, los avances de la iniciativa estarán visibles a toda la ciudadanía, pudiendo conocer más sobre las posibilidades de colaboración que existen en su municipio.</p>
    </div>
  </div>
