// Paleta abre
$light-blue: #3FA9F5;
$orange: #FF5722;
$light-orange: #FF8964;
$gray-one: #2D4059;
$gray-two: #6C798A;
$gray-three: #B1BBC9;
$gray-four: #E1EAF7;
$gray-five: #F4F9FF;

// Letras
$fira-font: 'Fira sans', 'Helvetica', 'Arial', sans-serif !important;
$dosis-font: 'Dosis', 'Helvetica', 'Arial', sans-serif !important;
