---
---

@import "variables";

.logo {
  max-width: 120px;
}

h1 {
  font-size: 4.5vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: $fira-font;
}

h2 {
  letter-spacing: 5px;
  font-size: 3.5vw;
  text-transform: uppercase;
  font-family: $fira-font;
  margin: 2vw 0;
}

h3 {
  font-size: 30px;
  font-family: $fira-font;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  font-size: 24px;
  color: $gray-two;
}

h4 a {
    color: $gray-two;
    &:hover {
      color: $gray-one;
    }
}

h5 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1vw;
}
