---
---

@import "variables";
@import "nav";

body {
  font-family: $fira-font;
  font-size: 14px;
  color: $gray-one;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $light-blue;
  &:hover {
    color: darken($light-blue, 10%);
    text-decoration: none;
  }
}

a span {
  color: $gray-three;
}

.logo-FCI {
  max-width: 200px;
}

h1 {
  font-family: $dosis-font;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 4px;
  font-weight: bold;
  line-height: 50px;
}

h2 {
  letter-spacing: 5px;
  font-size: 36px;
  text-transform: uppercase;
  font-family: $dosis-font;
  color: $gray-one;
  margin: 2vw 0;font-weight: bold;

}

h3 {
  font-size: 24px;
  font-family: $dosis-font;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  line-height: 41px;

  a {
    color: $light-blue;
  }
}

h4 {
  font-size: 16px;
  font-family: $dosis-font;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}


h5 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1vw;
  line-height: 30px;
}

p {
  color: $gray-two;
  font-size: 14px;
  font-family: $fira-font;

  .detail{
    color: $gray-three;
    font-size: 12px;
  }
}

.small {
  font-family: $dosis-font;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $gray-one;
}

.small .fa-minus {
    vertical-align: bottom;
}

.small-text {
  font-size: 12px;
}

hr {
    border-bottom: 1px solid #E1EAF7;
}

.fa{
  font-size: 16px;
}

// Text color

.line-text {
  color: $gray-four;
}

.white {
  color: white;
}

.gray {
  color: $gray-two;
}

.blue {
  color: $light-blue;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

// Background color

.bg-gray {
    background: $gray-one;
}

.bg-light-gray {
  background: $gray-five;
}

.bg-blue {
  background: $light-blue;
}

.bg-orange {
  background: $orange;
}

.bg-gray-one {
  background-color: $gray-one;
}

// Buttons

.btn-primary {
    color: #fff;
    background-color: $gray-one;
    border-color: transparent;
    &:hover {
      background-color: $gray-two;
      border-color: transparent;
    }
}

// Menu

.nav-link {
  color: $gray-two;
}

// Otros


.padding {
  padding: 4vw 0;
}

.padding-sides{
  padding-left: 3vw;
  padding-right: 3vw;
}

.num {
  position: relative;
  margin-top: 10px;
  font-family: $dosis-font;
  font-size: 22px;
  &::after {
    content: '_';
    position: absolute;
    top: -5px;
    right: 17px;
    font-size: 39px;
  }
}

section {
    padding: 5vw 0;
}

.text-width {
  max-width: 900px;
  margin: 0 auto;
}

.bajada {
    color: $gray-two;
    margin-bottom: 6vw;
}

// Hero

section#hero {
  position: relative;
  padding: 0;
}

.hero-content {
  position: absolute;
  top: 35%;
  left: 10vw;
  max-width: 770px;
}

// What

.no-gutters>[class*=col-].what-box {
  padding: 8vw 5vw;
  background: #F4F9FF;
}

// Stages

.box {
  padding: 25px;
  height: 350px;
  display: table;
}

.box-text {
  display: table-cell;
  vertical-align: bottom;
  clear: both;
}

.box-svg {
  padding: 0 0 30px;
  max-width: 100%;
}

.box-img {
  height: 350px;
  overflow: hidden;
}

.box-small {
    max-width: 80%;
    height: 268px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-12.col-sm-6.col-md-3.col-lg-3:nth-child(1), .col-xs-12.col-sm-6.col-md-3.col-lg-3:nth-child(3) {
    margin-top: 5vw;
}

// Benefits

.benefits-icon {
    text-align: center;
    margin-bottom: 2vw;
    height: 60px;
}

// clients

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

#clients h2 {
    margin-bottom: calc(2rem + 1vw);
}

.clients-carousel {
  margin-bottom: calc(2rem + 1vw);
}

// Testimonials

.testimonial-img {
    width: 96px;
    margin: 0 auto 2vw;
    position: relative;
    &::after {
      content: url('../img/quote.svg');
      position: absolute;
      bottom: -13px;
      left: 37px;
    }
}

h2.underscore {
    line-height: 0px;
    margin: 0 0 30px;
}

#testimonios {
  background: $gray-five;
  position: relative;
  overflow: hidden;
  &:before {
    content: url(../img/bg-gray-before.svg);
    position: absolute;
    top: -77px;
    left: 0px;
  }
  &:after {
    content: url(../img/bg-gray-after.svg);
    position: absolute;
    bottom: -77px;
    left: 0px;
  }
}

// About

#about img {
    margin-top: -25px;
    margin-right: 6px;
}

// Contact

#contact {
  position: relative;
  margin-bottom: 7vw;
  overflow: hidden;
  &:before {
    content: url(../img/bg-orange-before.svg);
    position: absolute;
    top: -77px;
    left: 0;
  }
  &:after {
    content: url(../img/bg-orange-after.svg);
    position: absolute;
    bottom: -77px;
    left: 0;
  }
  & a {
    color: white;
  }
}

// Media queries

@media only screen and (max-device-width:320px) {
  h1 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
  }

  h5 {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-content {
    top: 9%;
  }

  .w-100 {
    height: 360px;
    width: auto!important;
  }

}

@media only screen and (max-device-width:768px) {


  h3 {
      font-size: 17px;
      letter-spacing: 2px;
      line-height: 23px;
  }

  .col-xs-12.col-sm-6.col-md-3.col-lg-3:nth-child(2) {
    margin-top: 0;
  }

  .col-xs-12.col-sm-6.col-md-3.col-lg-3:nth-child(4) {
    margin-top: 0;
  }

}
